[submodule "infra"]
    path = infra
    url = https://github.com/Maverics-Seneca/infrastructure
	
[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/Maverics-Seneca/api-gateway
	
[submodule "auth-service"]
	path = auth-service
    url = https://github.com/Maverics-Seneca/auth-service