[submodule "infra"]
    path = infra
    url = https://github.com/Maverics-Seneca/infrastructure
	
[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/Maverics-Seneca/api-gateway
	
[submodule "auth-service"]
	path = auth-service
    url = https://github.com/Maverics-Seneca/auth-service
[submodule "partner-service"]
	path = partner-service
	url = https://github.com/Maverics-Seneca/partner-service
[submodule "medication-service"]
	path = medication-service
	url = https://github.com/Maverics-Seneca/medication-service
[submodule "affiliate-service"]
	path = affiliate-service
	url = https://github.com/Maverics-Seneca/affiliate-service
[submodule "reminder-service"]
	path = reminder-service
	url = https://github.com/Maverics-Seneca/reminder-service
